* {
    margin: 0;
    padding: 0;
}
#jb-container {
    width: 100%;
}

#jb-content {
    min-width: 700px;
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
    margin-left: 5px;
    /* float: left; */
}

#jb-sidebar {
    min-width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 0 auto;
    margin-right: 5px;
    /* float: left; */
    background-color: rgb(255, 88, 93);
    color: white;
}
#jb-footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

#mycon {
    display: flex;
    justify-content:space-around;
    max-width: 100%;
    margin-top: 20px;
}

#jb-sidebar h2 {
    margin: 15px;
}

#menu div {
    margin: 0 auto;;
}

#menu a {
    font-weight: 600;
    font-size: 15px;
}

#status-board {
    width:100%;
    text-align:center;
    border:2px solid black;
    border-collapse:collapse;
}

#status-board th {
    border: 1px solid black;
    width: 20%;
    background-color:rgb(189,187,187);
}

#status-board td {
    border: 1px solid black;
}

#period {
    float:right; 
}

/* #svchart{
    float:left;
    background-color:grey; 
    height:250px;
    margin-bottom: 20px;
    
} */

#piechart {
    margin-bottom: 20px;
}

.menu-container {
    display: flex
}

.menu-container > div {
    width:33%;
}

.menu-container > div:not(:last-child) {
    padding-right: 20px;
}

.menu-title {
    border: 1px solid rgb(189,187,187);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-title > div {
    margin: 0 10px;
}

.article {
    border-bottom: 2px solid rgb(189, 187, 187);
}

 /* 버튼 css */
.btn-wrapper {
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.btn {
    border: none;
    width: 80px;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    padding: 8px 0;
    background-color: rgb(255, 88, 93);
    color: white;
}

.btn-active {
    background-color: rgb(255, 88, 93);
    color: white;
}

.btn-disabled {
    background-color: rgb(188, 188, 188);
    color: rgb(55, 55, 55);
}

.dark {
    background-color: rgb(71, 71, 71);
    color: white;
}
 /* 버튼 css *